*{
    font-family: "Montserrat", sans-serif;
}

/* h1, h2, h3, .h1, .h2, .h3{
    font-family: "Electrolize", sans-serif;
} */

/* Variabili */
:root{
--wh: rgb(247, 247, 247) ;
--y: rgb(214, 195, 48);
--bl: rgb(27, 21, 64);
--pl: rgb(187,38,193);
}

body{
    background-color: var(--bl);
    color: var(--wh);
}

.text-y{
    color: var(--y);
}

.text-wh{
    color: var(--wh);
}

/* header */
.header-custom{
    background-image: url(webina-retrogaming/bg-1.jpg);
}

.btn-custom{
   color: var(--y);
   border: 1px solid var(--y);
}

.btn-custom:hover{
    background-color: var(--y);
    transition: 0.5s;
}

.bi-calendar-week{
    color: var(--y);
}

.data{
    font-weight: 700;
}


/* form */
.calendar-form{
    font-size: 50px;
    margin-right: 20px;
    background-color: var(--y);
    border-radius: 50%;
    padding: 10px 20px;
}

.section-2-custom{
    min-height: 70vh;
   background-image: url(webina-retrogaming/bg-2.jpg);
   background-size: cover;
   background-position: center;
}

.form-custom{
    background-color: var(--bl);
    padding: 70px 20px;
    top: 100px;
}

input{
    background-color: var(--bl);
    border: none;
    border-bottom: 1px solid var(--pl);
}

.btn-custom-form{
    background-color: var(--y);
}

/* section chi è aulab */
.section-3-custom{
    background-color: var(--bl);
    padding: 10px 20px;
}

.h2-title{
    color: var(--y);
}

/* section marco */
.marco-custom{
    background-image: url(webina-retrogaming/bg-3.jpg);
    background-size: cover;
    background-position: center;
}
