*{
    font-family: "Montserrat", sans-serif;
}

/* h1, h2, h3, .h1, .h2, .h3{
    font-family: "Electrolize", sans-serif;
} */

/* Variabili */
:root{
--wh: rgb(247, 247, 247) ;
--y: rgb(255, 255, 0);
--bl: rgb(7, 22, 48)
}

body{
    background-color: var(--bl);
    color: var(--wh);
}

.text-y{
    color: var(--y);
}

.text-wh{
    color: var(--wh);
}

/* header */

.header-custom{
    height: 90vh;
    width: 100%;
    background-image: url(webina-retrogaming/bg-1.jpg);
}

.logo{
    height: 30px;
}

.data-custom{
    font-size: 25px;
}

.btn-custom{
   color: var(--y);
   border: 1px solid var(--y);
}

/* form */
.section-form-custom{
    background-image: url(webina-retrogaming/bg-2.jpg);
}

.form-container{
    background: rgba(0,0,0,0.7);
    padding: 50px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
}

.icon-custom{
    font-size: 40px;
    background: var(--y);
    color: var(--wh);
    padding: 3px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.time{
    font-size: 14px;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    padding: 10px;
    border: 2px solid var(--y);
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
}

.button-form-custom{
    background-color: var(--y);
    color: black;
    border-radius: 20px;
    border: 2px solid var(--y);
}

/* modal */
#Modal1{
    background-color: var(--bl);
    color: var(--bl);
}

.modal-header, .modal-body{
background-color: var(--y);
}

/* section chi è aulab */
.title-aulab{
    color: var(--y);
}
 
.p-aulab{
    font-size: 14px;
}

/* section marco */
.marco-custom{
    background-image: url(webina-retrogaming/bg-3.jpg);
}
